        .Parent {
            height: 400px;
            width: 280px;
            background-color: rgb(236, 232, 232);
            margin: 60px;
            margin-left: 350px;
            border: 0px solid;
            box-shadow: -9px -10px 15px black;
        }
        
        #number {
            margin-top: 20px;
            height: 50px;
            width: 40px;
            margin-left: 21px;
            border-radius: 6px;
            border: 1px solid #cccccc;
            outline: rgb(255, 255, 255);
            font-size: 20px;
            background-color: white;
        }
        
        #Output {
            height: 60px;
            width: 260px;
            background-color: #FFFFFF;
            border: 1px solid #cccccc;
            /* margin: 5px; */
            margin-top: 34px;
            border-radius: 10px;
            font-size: 20px;
            margin-left: 7px;
        }
        
        button:hover {
            border-color: aqua;
        }